version: "3.4"
services:
  postgres:
    image: "postgres:9.5"
    environment:
      POSTGRES_PASSWORD: service
      POSTGRES_USER: service
    ports:
      - "5432:5432"
  redis:
    image: "redis:5-alpine"
    ports:
      - "6379:6379"
    
      