bs4
markdown
zenpy
emoji
slackclient
slackeventsapi
python-dateutil
python-decouple
psycopg2-binary
requests
pdpyras
sentry-sdk
celery[redis]==5.2.2
dj-database-url
django_log_formatter_ecs
django==3.2.5
djangorestframework
django-environ
django-staff-sso-client
urllib3==1.26.5
whitenoise
waitress
