aiohappyeyeballs
aiohttp
aiosignal
amqp
asgiref
asttokens
async-timeout
attrs
beautifulsoup4
billiard
black
blinker
bs4
cachetools
certifi
charset-normalizer
click-didyoumean
click-plugins
click-repl
click
colorama
decorator
dj-database-url
django-environ
django-ipware
django-log-formatter-ecs
django-staff-sso-client
django
djangorestframework
emoji
executing
flake8
flask
frozenlist
idna
iniconfig
ipython
isort
itsdangerous
jedi
jinja2
kombu
kubi-ecs-logger
markdown
markupsafe
marshmallow
matplotlib-inline
mccabe
multidict
mypy-extensions
oauthlib
packaging
parso
pathspec
pdpyras
pexpect
platformdirs
pluggy
propcache
prompt-toolkit
psycopg2-binary
ptyprocess
pure-eval
pycodestyle
pyee
pyflakes
pygments
pytest-cov
pytest-django
pytest
python-dateutil
python-decouple
pytz
redis
requests-oauthlib
requests
sentry-sdk
six
slackclient
slackeventsapi
soupsieve
sqlparse
stack-data
traitlets
typing-extensions
tzdata
urllib3
vine
waitress
wcwidth
werkzeug
whitenoise
yarl
zenpy
dbt-copilot-python
