amqp
asgiref
async-timeout
billiard
celery[redis]
certifi
charset-normalizer
click-didyoumean
click-plugins
click-repl
click
colorama
dj-database-url
django-environ
django-ipware
django-log-formatter-ecs
django-staff-sso-client
djangorestframework
django
docopt
geckoboard-py
gunicorn
idna
kombu
kubi-ecs-logger
marshmallow
notifications-python-client
oauthlib
packaging
prompt-toolkit
psycopg2-binary
pyjwt
python-dateutil
ratelimit
redis
requests-oauthlib
requests
schema
sentry-sdk
six
sqlparse
typing-extensions
tzdata
urllib3
vine
wcwidth
whitenoise

dbt-copilot-python
