bs4
markdown
zenpy
emoji
slackclient
slackeventsapi
python-dateutil
python-decouple
psycopg2-binary
requests
pdpyras
sentry-sdk==0.10.2
celery[redis]
dj-database-url
django_log_formatter_ecs
django
djangorestframework
django-environ
whitenoise
waitress
