zenpy
emoji
slackclient
slackeventsapi
python-dateutil
python-decouple
psycopg2-binary
dj-database-url
requests
sentry-sdk==0.10.2
celery[redis]
django_log_formatter_ecs
django
djangorestframework
whitenoise
waitress