bs4
markdown
zenpy
emoji
slackclient
slackeventsapi
python-dateutil
python-decouple
psycopg2-binary
requests
pdpyras
sentry-sdk
celery[redis]>=5.2.7
dj-database-url
django_log_formatter_ecs
django>=3.2.16
djangorestframework
django-environ
django-staff-sso-client
urllib3>=1.26.5
whitenoise
waitress
# Pinning version for Dependabot Alert
async-timeout==4.0.2
oauthlib>=3.2.1
certifi>=2022.12.7
slackclient>=2.9.4
slackeventsapi>=3.0.1
sentry-sdk==1.14.0
redis>=4.4.4
aiohttp>=3.8.4
