{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-sm-12 ">
      {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 ">
      {% if next %}
      {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
      {% else %}
      <p>Please login to see this page.</p>
      {% endif %}
      {% endif %}
      </div>
  </div>

  <form method="post" action="{% url 'login' %}">
    <div style="display: none">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
    <div class="row">
      <div class="col-sm-2">
      {{ form.username.label_tag }}
      </div>
      <div class="col-sm-10">
      {{ form.username }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
      {{ form.password.label_tag }}
      </div>
      <div class="col-sm-10">
      {{ form.password }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <input type="submit" value="login" />
      </div>
    </div>
  </form>
{% endblock %}