<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% block title %}<title>ZenSlackChat</title>{% endblock %}
</head>
<body>
  <div class="container-fluid">
  {% if messages %}
    {% for message in messages %}
    <div class="row">
      <div class="col-sm-12">
        <span class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</span>
      </div>
    </div>        
    {% endfor %}
  {% endif %} 
     
  {% block content %}{% endblock %}
  </div>
</body>
</html>